:root {
    --clr-white:hsl(0, 0%, 100%);
    --clr-light_gray: hsl(212, 45%, 89%);
    --clr-grayish_blue: hsl(220, 15%, 55%);
    --clr-dark_blue:hsl(218, 44%, 22%);

    --fw-400:400;
    --fw-700:700;

    --ff-all: 'Outfit', sans-serif;
}

body {
    background-color: var(--clr-light_gray);
    display: grid;
    place-content: center;
    font-family: var(--ff-all);
}
.container {
    max-width: 280px;
    height: 462px;
    padding: 15px;
    background-color: var(--clr-white);
    border-radius: 15px;
    overflow: hidden;
}

.product__image {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product__content {
    text-align: center;
    padding: 10px;
}
.content__title {
    color: var(--clr-dark_blue);
    font-size: 22px;
    font-weight: var(--fw-700);
    margin-bottom: 15px;
}
.content__text {
    font-weight: var(--fw-400);
    font-size: 16px;
    color: var(--clr-grayish_blue);
}